div{
  /* border: 1px solid black; */
  background-size: 100% 100%;
}

.car-main-container{
  border: 1px solid black;
  position: relative;
  width: 30vw;
  height: 33vw;
  display: flex;
  flex-direction: column;
}
.car-container{
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 85%;
}
.smallImg-container{
  margin-top: 3vw;
  display: flex;
  height: 15%;
  width: 100%;
  justify-content:space-around;
}
.smallImg{
  width: 10%;
}

.car-box{
  transition: 1s;
  border-color: red;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

.img{
  transition: 0.3s;
  background-size: 100% 100%;
  border-color: yellow;
  position: relative;
  width: 100%;
  height: 100%;
}
.imgOne{background-image: url('img/one.jpg');}
.imgTwo{background-image: url('img/two.jpg');}
.imgThree{background-image: url('img/three.jpg');}
.imgFour{background-image: url('img/four.jpg');}
.imgFive{background-image: url('img/five.jpg');}
.imgSix{background-image: url('img/one.jpg');}
